body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
}

header,
footer {
    background-color: #4676dd;
    padding: 20px;
    color: white;
    text-align: center;

    ul {
        display: flex;
        justify-content: space-around;

        li {
            text-decoration: none;
            list-style-type: none;
        }
    }
}

#content {
    margin: 100px;
}